<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body class="font-poppins">
    <div class="grid grid-cols-layout overflow-hidden">
        <%- include('../partials/sidebar', { activeLink : '' } ) %>

            <main class="bg-gray-50 h-screen overflow-y-auto">
                <div class="container py-8">
                    <!-- Main Content -->

                    <h1 class="text-3xl font-medium mb-4 text-gray-700">Add a new employee</h1>

                    <!-- Employee List -->
                    <div class="py-8">
                        <form class="rounded-lg p-6 bg-white" action="/employees/add" method="post">
                            <div class="flex gap-12">
                                <div class="mb-6 grow">
                                    <label for="first_name"
                                        class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-300">
                                        First Name
                                    </label>
                                    <input type="text" id="first_name" name="first_name"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        required>
                                </div>

                                <div class="mb-6 grow">
                                    <label for="last_name"
                                        class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-300">
                                        Last Name
                                    </label>
                                    <input type="text" id="last_name" name="last_name"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        required>
                                </div>
                            </div>

                            <div class="mb-6">
                                <label for="email"
                                    class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-300">
                                    Email Address
                                </label>
                                <input type="email" id="email" name="email_address"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    required>
                            </div>



                            <div class="mb-6">
                                <label for="salary"
                                    class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-300">
                                    Supervisor
                                </label>
                                <select id="supervisor" name="supervisor"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    required>
                                    <option selected disabled hidden>Choose a Supervisor</option>
                                    <% supervisors.forEach(spvr=> { %>
                                        <option value="<%= spvr.id %>">
                                            <%= spvr.first_name + " " + spvr.last_name %>
                                                (<%= spvr.department %>)
                                        </option>
                                        <% }) %>
                                </select>
                            </div>

                            <div class="mb-6">
                                <label for="salary"
                                    class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-300">
                                    Salary
                                </label>
                                <input type="number" id="salary" name="salary"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    required min="0" max="999999999">
                            </div>

                            <button type="submit"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full mt-4 transition sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add
                                employee</button>
                        </form>

                    </div>
                </div>
            </main>
    </div>
</body>

</html>